.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 36px;
  padding-top: 126px;
}

.counter__value {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: rgb(0, 0, 0);
}

.btn {
  width: 500px;
  color: rgb(255, 255, 255);
  padding: 28px 0;
  border-radius: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.counter__addBtn {
  background: #4191ff;
}

.counter__resetBtn {
  background: #d45366;
}
